$dark-orange: #ed970c;
$white: #fff;
$dark: #09182a;
$mobile-width: 390;
$black: #000;
$golden-brown: #c8933b;
$light-grey: #f6f6f6;
$goldenrod: #f7c45e;
$pale-blue: #FBFCFE;
$dark-blue: #1E2F43;